/* Common */
body {
    background-color: #dbdbd3;
    height: 100vh;
    padding: 2.5rem 0;
}
.container {
    height: 90vh;
    background-color: white;
    padding: 0;
    margin: 0;
}
.col-5, .col-7 {
    padding: 0;
    margin: 0;
    height: 100%;
}
i {
    color: #b1b1b1;
    font-size: 30px;
    margin: 0 1rem;
}
.nome_utente_lista {
    font-weight: 450;
    font-size: 20px;
}
img {
    height: 90px;
    border-radius: 80px;
}

.top_bar_user {
    height: 15vh;
}

/* Sidebar */
#barra_notifiche {
    background-color: #8edafc;
}

.fa-bell-slash:before {
    content: "\f1f6";
    background-color: white;
    color: #8edafc;
    border-radius: 50px;
    padding: 1rem;
    margin-right: 1rem;
}
a {
    color: gray;
    text-decoration: underline;
}
.form-control {
    height: 50px;
}
/* main */
#main_chat {
    overflow: auto;
}
.received {
    text-align: right;
    margin: 2rem 1rem 2rem auto;
}
.chat_message {
    padding: 1rem;
    border-radius: 20px;
    min-width: 100px;
    max-width: 350px;
}
.ultimo_accesso_text{
    color: gray;
    font-size: 12px;
}
/* Utilities */
.bg_lightgray {
    background-color: #eaeaea;
}
.bg_green {
    background-color: #d5f9ba;
}