/* Common */
body {
    background-color: #dbdbd3;
    height: 100vh;
    padding: 2.5rem 0;
    position: relative;
}
.striscia {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 19.7vh;
    background-color: #009688; 
}
.container {
    height: 90vh;
    background-color: white;
    padding: 0;
    margin: 0;
}
.col-5, .col-7 {
    padding: 0;
    margin: 0;
    height: 100%;
}
i {
    color: #b1b1b1;
    font-size: 30px;
    margin: 0 1rem;
}
.nome_utente_lista {
    font-weight: 450;
    font-size: 20px;
}
img {
    height: 90px;
    border-radius: 80px;
}

.top_bar_user {
    height: 15vh;
}

/* Sidebar */
#utente {
    height: 15vh;
}

#barra_notifiche {
    background-color: #8edafc;
    height: 10vh;
}
.fa-bell-slash:before {
    content: "\f1f6";
    background-color: white;
    color: #8edafc;
    border-radius: 50px;
    padding: 1rem;
    margin-right: 1rem;
}
a {
    color: gray;
    text-decoration: underline;
}

#barra_ricerca {
    height: 10vh;
}
.form-control {
    height: 50px;
}

#lista_contatti {
    height: 57vh;
    overflow: auto;
}
.contatto_s:hover {
    background-color: lightgray!important;
}
/* main */
#main_chat {
    overflow: auto;
    height: 69.5vh;
    background-image: url("./assets/img/mine.jpg");
    
}
#barra_main_bot {
    background-color: #f3eeea;
}
#barra_main_bot > input {
    width: 80%;
}
.sent {
    text-align: right;
    margin: 2rem 1rem 2rem auto;
}
.chat_message {
    padding: 0.7rem 1rem;
    border-radius: 10px;
    min-width: 50px;
    max-width: 300px;
}
.data_ora_text{
    color: gray;
    font-size: 13px;
}
#chat {
    width: 70vh;
}
/* Utilities */
.bg_lightgray {
    background-color: #eaeaea;
}
.bg_green {
    background-color: #d5f9ba;
}